.container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 5%;
  z-index: 1000;
  min-width: 200px;
  min-height: 50px;
  padding: 16px 32px;
  border-radius: 12px;
}

.closeButton {
  all: unset;
  position: absolute;
  text-align: center;
  top: 8px;
  right: 16px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
