.root {
  height: 100vh;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  height: 95%;
}

.topbar {
  width: 100vw;
  height: 5%;
  border: solid 1px black;
}

.gridContainer {
  padding: 16px;
  height: 95vh;
  flex-grow: 1;
}
